#chat{
  display: flex;
  flex-direction: column-reverse;
}

#chat article{
    margin: 10px 0;
}

#chat p {
    margin: 3px;
    font-weight: 300
}

#chat p:hover + p{
    transition: 0.3s;
    opacity: 1;
}

.button-chat-probe{
    height: 60px;
}

#chat article p:first-of-type{
    border-radius: 5px;
    max-width: 300px;
    display: inline-block;
    background: #eee;
    padding: 10px;
    margin: 0 0;
    word-wrap: break-word;
    position: relative;
}

#chat article.sender-article{
    text-align: right;
}

#chat article .sender-datetime span{
    font-size: 10px;
}

#chat article .sender-datetime{
    position: absolute;
    opacity: 0;
    transition: 0.7s;
    /* display: none; */
}

#chat article.sender-article .sender-datetime{
    right: 20;
}
